h4 #{t('Activation.body.hello')} #{name},
p #{t('Activation.body.welcome')}
p #{t('Activation.body.validation')} 
    a(href=link) #{t('Activation.body.link')}
div #{t('Activation.body.regards')},
div Oskar