h4 #{t('TournamentInvitation.body.hello')} #{name},
p #{invitingPlayer} #{t('TournamentInvitation.body.invitation1')} #{teamName} #{t('TournamentInvitation.body.invitation2')} #{tournamentName} #{t('TournamentInvitation.body.invitation3')}.
p #{t('TournamentInvitation.body.complete')}
div #{t('TournamentInvitation.body.regards')},
div Oskar