h4 #{t('PrivateTournamentInvitation.body.hello')} #{name},
p #{invitingPlayer} #{t('PrivateTournamentInvitation.body.invitation1')} #{teamName} #{t('PrivateTournamentInvitation.body.invitation2')} #{tournamentName} #{t('PrivateTournamentInvitation.body.invitation3')}.
p #{t('PrivateTournamentInvitation.body.complete')}
div #{t('PrivateTournamentInvitation.body.regards')},
div Oskar