h4 #{t('TournamentReminder.body.hello')} #{name},
p #{t('TournamentReminder.body.registration1')} #{tournamentTitle} #{t('TournamentReminder.body.registration2')}
p #{t('TournamentReminder.body.timing')}
p #{t('TournamentReminder.body.attachment')}
div #{t('TournamentReminder.body.regards')},
div Oskar