h4 #{t('SubscriptionUpcomming.body.hello')} #{name},
p #{t('SubscriptionUpcomming.body.thanks')}
p #{t('SubscriptionUpcomming.body.payments')}
div #{t('SubscriptionUpcomming.body.regards')},
div Oskar